{
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        {
            "preset": "angular",
            "releaseRules": [
                {
                    "type": "docs",
                    "scope": "README",
                    "release": "patch"
                },
                {
                    "type": "refactor",
                    "scope": "core-*",
                    "release": "minor"
                },
                {
                    "type": "update",
                    "release": "minor"
                },
                {
                    "type": "refactor",
                    "release": "patch"
                },
                {
                    "type": "ci",
                    "scope": "actions",
                    "release": "patch"
                },
                {
                    "scope": "no-release",
                    "release": false
                }
            ]
        },
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "sed -i 's/\"version\": \"[0-9\\.]*\",/\"version\": \"${nextRelease.version}\",/g' ./NetworkManager/library.json",
                "publishCmd": "pio pkg publish --no-interactive"
            }
        ],
        "@semantic-release/github",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "NetworkManager/library.json"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ],
        "@semantic-release/release-notes-generator"
    ]
}